
.product-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-page-category-text {
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
    color: rgb(74, 73, 73);
    padding-left: 10px;
    margin-bottom: 6px;
}

.category-special-text {
    font-size: 16px;
    font-weight: 600;
    color: rgb(238, 62, 62);
}

.product-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0px;
    margin-top: 0px;
}


@media screen and (min-width: 760px) {
    .product-page-category-text {
        font-size: 18px;
        padding-left: 14px;
    }

    .category-special-text {
        font-size: 19px;
    }

    .product-list-container {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 10px;
    }
    
}



